*{
	margin:0px;
	padding:0px;
}
#header{ /*包含商标logo,li标签的块div*/
	height: 103px;
	width:100%;
	background-color: #FFFFFF;
}
#header_logo{  /*左上方蓝色商标logo*/
	position:absolute;
	margin-left:170px;
	margin-top:20px;
}
#header_contact{ /* 电话块div*/
	width: 170px;
	height: 37px;
	/*background-color: red;*/
	position: absolute;
	right: 410px;
	top: 16px;
}
#nav{  /*导航li标签内容大块*/
	position: absolute;
	right:100px;
	top:60px;
	width: 714px;
	height: 43px;
	position: absolute;// absolute是相对于父类所在div的位置移动
	top: 60px;       //relative 是相对于自己原来的位置移动
	right: 410px;
	font-size: small;
	list-style-type: none;
}
#nav li a{  /*导航li标签链接原颜色*/
	color:black;
}
#nav li a:link{  /*导航li标签链接原颜色*/
	text-decoration: none;
	color:black;
}
#nav li a:hover{  /*导航li标签点击变颜色*/
	text-decoration: none;
	color: #5BC0DE;
	font-family:"bodoni mt black";
}
#nav li{   /*li标签内容*/
	float: left;
	width: 102px;
	height: 43px;
	line-height: 43px;
	text-align:center;
}

#header_logo span{
	float:left;  /*咨询电话,电话号码*/
	margin-top:20px;
	background-color:#00b3e1;
}

#header_contact{ /*电话块div*/
	position: absolute;
	top:10px;
	right:100px;
	width:200px;
}
#tep_logo{/*电话的logo*/
	float:left;
	margin-top:2px;
	width:45px;
	height:45px;
}

#tepnum0{/* 咨询电话*/
	float:left;
	color:darkgray;	
}
#tepnum{  /*电话号码*/
	position:absolute;
	float: left;
	white-space: nowrap;
	color:#2AABD2;
	font-size:25px;
   text-decoration: underline;
}
/*------------------------------图片-------------------------------------------------------*/
#picture{  /*图片*/
	position: absolute;
	width:100%;
	height: 300px;
	background-color: #1062AE;
	top:103px;
}
#picture_img{
	width: 100%;
	height:300px;
}
#content_about{/* 内容区*/
	width: 100%;
	height:1277px;
	position: absolute;
	top:403px;	
/*	background-color: yellow;*/
}
#footer{/*底部*/
	width:100%;
	height: 254px;
	background-color: #2AABD2;
	position: absolute;
	top:1680px;
}
/*---------------------------------------------------------------------------------*/
#about_div1{
	border-style: solid;
	width:900px;
	height: 110px;
	position: absolute;
	margin-top:50px;
	margin-left: 335px;
	border-color: #d2d2d2;
	border-width: 0.5px;
}
#date1{
	width:80px;
	height:110px;
	position: absolute;
	left: 0px;
	top: 0px;
	background-color:#d2d2d2;
}
#p11{
	font-family:"微软雅黑","宋体";
	font-size: -webkit-xxx-large;
	position: absolute;
	color: white;
   padding-left:11px;
   padding-top:10px;
   font-weight: lighter;
}
#p12{
	font-family:"微软雅黑","宋体";
	position: absolute;
	color: white;
	padding-left: 7px;
	padding-top:82px;
}
#p13{
	font-family:"微软雅黑","宋体";
	padding-left:130px;
	padding-top: 20px;
	font-size:14.5px;
	/*background-color: yellow;*/
}
#p13 a{
	text-decoration: none;
	color: black;
}
#p14{
	font-family:"微软雅黑","宋体";
    padding-left:130px;
	padding-top: 15px;
	font-size:14px;
}
#p14 a{
	text-decoration: none;
	color: black;
}
#p15{
	width:25px;
	height:25px;
	position: absolute;
	margin-left: 875px;
	margin-top: -6px;
	background-color:#d2d2d2 ;
}
#p15 p{
	font-size:35px;
	font-weight: bold;
	color:white;
    top:-7px;
    left:3px;
	position: absolute;
}
#about_div1:hover #p15{
	background-color:#144a94 ;
	transition:0.5s;
}
#about_div1:hover{
		border-color:#144a94;
		transition:0.5s;
		cursor: pointer;
}
#about_div1:hover #date1{
	background-color:#144a94 ;
	transition:0.5s;
}
#about_div1:hover #line1{
	border-top-color:beige;
	border-bottom-color:#144a94;
	transition:0.5s;
}
#line1{
	position: absolute;
	width:78px;
	height:0.1px;
/*	background-color: red;*/
	margin-top:75px;
	border-style: solid;
	border-width:thin;
	border-bottom-color:beige;
	border-top-color:#a8a8a8;
	border-left-color:#d2d2d2;
	border-right-color:#d2d2d2;
}
#about_div2{
	border-style: solid;
	width:900px;
	height: 110px;
	position: absolute;
	margin-top:185px;
	margin-left: 335px;
		border-color: #d2d2d2;
	border-width: 0.5px;
}
#date2{
	width:80px;
	height:110px;
	position: absolute;
	left: 0px;
	top: 0px;
	background-color:#d2d2d2;
}
#p21{
	font-family:"微软雅黑","宋体";
	font-size: -webkit-xxx-large;
	position: absolute;
	color: white;
   padding-left:11px;
   padding-top:10px;
   font-weight: lighter;
}
#p22{
	font-family:"微软雅黑","宋体";
	position: absolute;
	color: white;
	padding-left: 7px;
	padding-top:82px;
}
#p23{
	font-family:"微软雅黑","宋体";
	padding-left:130px;
	padding-top: 20px;
	font-size:14.5px;
	/*background-color: yellow;*/
}
#p23 a{
	text-decoration: none;
	color: black;
}
#p24{
	font-family:"微软雅黑","宋体";
    padding-left:130px;
	padding-top: 15px;
	font-size:14px;
}
#p24 a{
	text-decoration: none;
	color: black;
}
#p25{
	width:25px;
	height:25px;
	position: absolute;
	margin-left: 875px;
	margin-top: 12px;
	background-color:#d2d2d2 ;
}
#p25 p{
	font-size:35px;
	font-weight: bold;
	color:white;
    top:-7px;
    left:3px;
	position: absolute;
}
#about_div2:hover #p25{
	background-color:#144a94 ;
	transition:0.5s;
}
#about_div2:hover{
		border-color:#144a94;
		transition:0.5s;
		cursor: pointer;
}
#about_div2:hover #date2{
	background-color:#144a94 ;
	transition:0.5s;
}
#about_div2:hover #line2{
	border-top-color:beige;
	border-bottom-color:#144a94;
	transition:0.5s;
}
#line2{
	position: absolute;
	width:78px;
	height:0.1px;
/*	background-color: red;*/
	margin-top:75px;
	border-style: solid;
	border-width:thin;
	border-bottom-color:beige;
	border-top-color:#a8a8a8;
	border-left-color:#d2d2d2;
	border-right-color:#d2d2d2;
}
#about_div3{
	border-style: solid;
	width:900px;
	height: 110px;
	position: absolute;
	margin-top:320px;
	margin-left: 335px;
		border-color: #d2d2d2;
	border-width: 0.5px;
}
#date3{
	width:80px;
	height:110px;
	position: absolute;
	left: 0px;
	top: 0px;
	background-color:#d2d2d2;
}
#p31{
	font-family:"微软雅黑","宋体";
	font-size: -webkit-xxx-large;
	position: absolute;
	color: white;
   padding-left:11px;
   padding-top:10px;
   font-weight: lighter;
}
#p32{
	font-family:"微软雅黑","宋体";
	position: absolute;
	color: white;
	padding-left: 7px;
	padding-top:82px;
}
#p33{
	font-family:"微软雅黑","宋体";
	padding-left:130px;
	padding-top: 20px;
	font-size:14.5px;
	/*background-color: yellow;*/
}
#p33 a{
	text-decoration: none;
	color: black;
}
#p34{
	font-family:"微软雅黑","宋体";
    padding-left:130px;
	padding-top: 15px;
	font-size:14px;
}
#p34 a{
	text-decoration: none;
	color: black;
}
#p35{
	width:25px;
	height:25px;
	position: absolute;
	margin-left: 875px;
	margin-top: -6px;
	background-color:#d2d2d2 ;
}
#p35 p{
	font-size:35px;
	font-weight: bold;
	color:white;
    top:-7px;
    left:3px;
	position: absolute;
}
#about_div3:hover #p35{
	background-color:#144a94 ;
	transition:0.5s;
}
#about_div3:hover{
		border-color:#144a94;
		transition:0.5s;
		cursor: pointer;
}
#about_div3:hover #date3{
	background-color:#144a94 ;
	transition:0.5s;
}
#about_div3:hover #line3{
	border-top-color:beige;
	border-bottom-color:#144a94;
	transition:0.5s;
}
#line3{
	position: absolute;
	width:78px;
	height:0.1px;
/*	background-color: red;*/
	margin-top:75px;
	border-style: solid;
	border-width:thin;
	border-bottom-color:beige;
	border-top-color:#a8a8a8;
	border-left-color:#d2d2d2;
	border-right-color:#d2d2d2;
}
#about_div4{
	border-style: solid;
	width:900px;
	height: 110px;
	position: absolute;
	margin-top:455px;
	margin-left: 335px;
	border-color: #d2d2d2;
	border-width: 0.5px;
}
#date4{
	width:80px;
	height:110px;
	position: absolute;
	left: 0px;
	top: 0px;
	background-color:#d2d2d2;
}
#p41{
	font-family:"微软雅黑","宋体";
	font-size: -webkit-xxx-large;
	position: absolute;
	color: white;
   padding-left:11px;
   padding-top:10px;
   font-weight: lighter;
}
#p42{
	font-family:"微软雅黑","宋体";
	position: absolute;
	color: white;
	padding-left: 7px;
	padding-top:82px;
}
#p43{
	font-family:"微软雅黑","宋体";
	padding-left:130px;
	padding-top: 20px;
	font-size:14.5px;
	/*background-color: yellow;*/
}
#p43 a{
	text-decoration: none;
	color: black;
}
#p44{
	font-family:"微软雅黑","宋体";
    padding-left:130px;
	padding-top: 15px;
	font-size:14px;
}
#p44 a{
	text-decoration: none;
	color: black;
}
#p45{
	width:25px;
	height:25px;
	position: absolute;
	margin-left: 875px;
	margin-top: -6px;
	background-color:#d2d2d2 ;
}
#p45 p{
	font-size:35px;
	font-weight: bold;
	color:white;
    top:-7px;
    left:3px;
	position: absolute;
}
#about_div4:hover #p45{
	background-color:#144a94 ;
	transition:0.5s;
}
#about_div4:hover{
		border-color:#144a94;
		transition:0.5s;
		cursor: pointer;
}
#about_div4:hover #date4{
	background-color:#144a94 ;
	transition:0.5s;
}
#about_div4:hover #line4{
	border-top-color:beige;
	border-bottom-color:#144a94;
	transition:0.5s;
}
#line4{
	position: absolute;
	width:78px;
	height:0.1px;
/*	background-color: red;*/
	margin-top:75px;
	border-style: solid;
	border-width:thin;
	border-bottom-color:beige;
	border-top-color:#a8a8a8;
	border-left-color:#d2d2d2;
	border-right-color:#d2d2d2;
}
#about_div5{
	border-style: solid;
	width:900px;
	height: 110px;
	position: absolute;
	margin-top:590px;
	margin-left: 335px;
		border-color: #d2d2d2;
	border-width: 0.5px;
}
#date5{
	width:80px;
	height:110px;
	position: absolute;
	left: 0px;
	top: 0px;
	background-color:#d2d2d2;
}
#p51{
	font-family:"微软雅黑","宋体";
	font-size: -webkit-xxx-large;
	position: absolute;
	color: white;
   padding-left:11px;
   padding-top:10px;
   font-weight: lighter;
}
#p52{
	font-family:"微软雅黑","宋体";
	position: absolute;
	color: white;
	padding-left: 7px;
	padding-top:82px;
}
#p53{
	font-family:"微软雅黑","宋体";
	padding-left:130px;
	padding-top: 20px;
	font-size:14.5px;
	/*background-color: yellow;*/
}
#p53 a{
	text-decoration: none;
	color: black;
}
#p54{
	font-family:"微软雅黑","宋体";
    padding-left:130px;
	padding-top: 15px;
	font-size:14px;
}
#p54 a{
	text-decoration: none;
	color: black;
}
#p55{
	width:25px;
	height:25px;
	position: absolute;
	margin-left: 875px;
	margin-top: 31px;
	background-color:#d2d2d2 ;
}
#p55 p{
	font-size:35px;
	font-weight: bold;
	color:white;
    top:-7px;
    left:3px;
	position: absolute;
}
#about_div5:hover #p55{
	background-color:#144a94 ;
	transition:0.5s;
	cursor: pointer;
}
#about_div5:hover{
		border-color:#144a94;
		transition:0.5s;
}
#about_div5:hover #date5{
	background-color:#144a94 ;
	transition:0.5s;
}
#about_div5:hover #line5{
	border-top-color:beige;
	border-bottom-color:#144a94;
	transition:0.5s;
}
#line5{
	position: absolute;
	width:78px;
	height:0.1px;
/*	background-color: red;*/
	margin-top:75px;
	border-style: solid;
	border-width:thin;
	border-bottom-color:beige;
	border-top-color:#a8a8a8;
	border-left-color:#d2d2d2;
	border-right-color:#d2d2d2;
}
#about_div6{
	border-style: solid;
	width:900px;
	height: 110px;
	position: absolute;
	margin-top:725px;
	margin-left: 335px;
		border-color: #d2d2d2;
	border-width: 0.5px;
}
#date6{
	width:80px;
	height:110px;
	position: absolute;
	left: 0px;
	top: 0px;
	background-color:#d2d2d2;
}
#p61{
	font-family:"微软雅黑","宋体";
	font-size: -webkit-xxx-large;
	position: absolute;
	color: white;
   padding-left:11px;
   padding-top:10px;
   font-weight: lighter;
}
#p62{
	font-family:"微软雅黑","宋体";
	position: absolute;
	color: white;
	padding-left: 7px;
	padding-top:82px;
}
#p63{
	font-family:"微软雅黑","宋体";
	padding-left:130px;
	padding-top: 20px;
	font-size:14.5px;
	/*background-color: yellow;*/
}
#p63 a{
	text-decoration: none;
	color: black;
}
#p64{
	font-family:"微软雅黑","宋体";
    padding-left:130px;
	padding-top: 15px;
	font-size:14px;
}
#p64 a{
	text-decoration: none;
	color: black;
}
#p65{
	width:25px;
	height:25px;
	position: absolute;
	margin-left: 875px;
	margin-top: -6px;
	background-color:#d2d2d2 ;
}
#p65 p{
	font-size:35px;
	font-weight: bold;
	color:white;
    top:-7px;
    left:3px;
	position: absolute;
}
#about_div6:hover #p65{
	background-color:#144a94 ;
	transition:0.5s;
}
#about_div6:hover{
		border-color:#144a94;
		transition:0.5s;
		cursor: pointer;
}
#about_div6:hover #date6{
	background-color:#144a94 ;
	transition:0.5s;
}
#about_div6:hover #line6{
	border-top-color:beige;
	border-bottom-color:#144a94;
	transition:0.5s;
}
#line6{
	position: absolute;
	width:78px;
	height:0.1px;
/*	background-color: red;*/
	margin-top:75px;
	border-style: solid;
	border-width:thin;
	border-bottom-color:beige;
	border-top-color:#a8a8a8;
	border-left-color:#d2d2d2;
	border-right-color:#d2d2d2;
}
#about_div7{
	border-style: solid;
	width:900px;
	height: 110px;
	position: absolute;
	margin-top:860px;
	margin-left: 335px;
		border-color: #d2d2d2;
	border-width: 0.5px;
}
#date7{
	width:80px;
	height:110px;
	position: absolute;
	left: 0px;
	top: 0px;
	background-color:#d2d2d2;
}
#p71{
	font-family:"微软雅黑","宋体";
	font-size: -webkit-xxx-large;
	position: absolute;
	color: white;
   padding-left:11px;
   padding-top:10px;
   font-weight: lighter;
}
#p72{
	font-family:"微软雅黑","宋体";
	position: absolute;
	color: white;
	padding-left: 7px;
	padding-top:82px;
}
#p73{
	font-family:"微软雅黑","宋体";
	padding-left:130px;
	padding-top: 20px;
	font-size:14.5px;
	/*background-color: yellow;*/
}
#p73 a{
	text-decoration: none;
	color: black;
}
#p74{
	font-family:"微软雅黑","宋体";
    padding-left:130px;
	padding-top: 15px;
	font-size:14px;
}
#p74 a{
	text-decoration: none;
	color: black;
}
#p75{
	width:25px;
	height:25px;
	position: absolute;
	margin-left: 875px;
	margin-top: 13px;
	background-color:#d2d2d2 ;
}
#p75 p{
	font-size:35px;
	font-weight: bold;
	color:white;
    top:-7px;
    left:3px;
	position: absolute;
}
#about_div7:hover #p75{
	background-color:#144a94 ;
	transition:0.5s;
}
#about_div7:hover{
		border-color:#144a94;
		transition:0.5s;
		cursor: pointer;
}
#about_div7:hover #date7{
	background-color:#144a94 ;
	transition:0.5s;
}
#about_div7:hover #line7{
	border-top-color:beige;
	border-bottom-color:#144a94;
	transition:0.5s;
}
#line7{
	position: absolute;
	width:78px;
	height:0.1px;
/*	background-color: red;*/
	margin-top:75px;
	border-style: solid;
	border-width:thin;
	border-bottom-color:beige;
	border-top-color:#a8a8a8;
	border-left-color:#d2d2d2;
	border-right-color:#d2d2d2;
}
#about_div8{
	border-style: solid;
	width:900px;
	height: 110px;
	position: absolute;
	margin-top:995px;
	margin-left: 335px;
		border-color: #d2d2d2;
	border-width: 0.5px;
}
#date8{
	width:80px;
	height:110px;
	position: absolute;
	left: 0px;
	top: 0px;
	background-color:#d2d2d2;
}
#p81{
	font-family:"微软雅黑","宋体";
	font-size: -webkit-xxx-large;
	position: absolute;
	color: white;
   padding-left:11px;
   padding-top:10px;
   font-weight: lighter;
}
#p82{
	font-family:"微软雅黑","宋体";
	position: absolute;
	color: white;
	padding-left: 7px;
	padding-top:82px;
}
#p83{
	font-family:"微软雅黑","宋体";
	padding-left:130px;
	padding-top: 20px;
	font-size:14.5px;
	/*background-color: yellow;*/
}
#p83 a{
	text-decoration: none;
	color: black;
}
#p84{
	font-family:"微软雅黑","宋体";
    padding-left:130px;
	padding-top: 15px;
	font-size:14px;
}
#p84 a{
	text-decoration: none;
	color: black;
}
#p85{
	width:25px;
	height:25px;
	position: absolute;
	margin-left: 875px;
	margin-top: 13px;
	background-color:#d2d2d2 ;
}
#p85 p{
	font-size:35px;
	font-weight: bold;
	color:white;
    top:-7px;
    left:3px;
	position: absolute;
}
#about_div8:hover #p85{
	background-color:#144a94 ;
	transition:0.5s;
}
#about_div8:hover{
		border-color:#144a94;
		transition:0.5s;
		cursor: pointer;
}
#about_div8:hover #date8{
	background-color:#144a94 ;
	transition:0.5s;
}
#about_div8:hover #line8{
	border-top-color:beige;
	border-bottom-color:#144a94;
	transition:0.5s;
}
#line8{
	position: absolute;
	width:78px;
	height:0.1px;
/*	background-color: red;*/
	margin-top:75px;
	border-style: solid;
	border-width:thin;
	border-bottom-color:beige;
	border-top-color:#a8a8a8;
	border-left-color:#d2d2d2;
	border-right-color:#d2d2d2;
}
#page{
	font-family: "微软雅黑","arial black";
	margin-left: 720px;
	margin-top: 1130px;
	position: absolute;
}
#margin{
	color:#262626;
	font-family:"微软雅黑","arial black";
}
#about_title{
color:darkblue;font-size:larger;font-weight:bold;font-family: '微软雅黑','arial black';
margin-top:20px;
margin-left: 375px;
}
#about_border{	
	margin-left:335px; 
	margin-top:20px;
	width:900px;
	right:50px;
	border-style: solid;
	border-bottom-width:0.1px;
	border-bottom-color:#eaeaea;
	border-top-color:white ;
	border-left-color: white;
	border-right-color: white;
/*	background-color: red;*/
	
}
#about_logo{
   	margin-left:330px;
	margin-top:-24px;
	position: absolute;
}
#about_border1{
    margin-left:335px; 
	margin-top:-4px;
	width:115px;
	right:50px;
	border-style: solid;
	border-bottom-width:0.1px;
	border-bottom-color:darkblue;
	border-top-color:white ;
	border-left-color: white;
	border-right-color: white;
	
}
#about_logor{
	margin-right:250px;
	margin-top:-40px;
     float: right;
}
#about_p1{
	margin-right:223px;
	margin-top:-35px;
     float: right;
     font-size: small;
     list-style-type: none;
}
#about_p1:hover a{
 cursor: pointer;
 }
#about_p4{
    text-decoration: none;
     color:gray;
       list-style-type: none;
  }
#about_p2{
	margin-right:211px;
	margin-top:-35px;
     float: right;
     font-size: small;
     color:grey;
     font-family:"bodoni mt";
       list-style-type: none;
}
#about_p3{
	margin-right:150px;
	margin-top:-35px;
     float: right;
     font-size: small;
       list-style-type: none;
}
#about_p3 a{
	text-decoration: none;
	color:gray;
}
#ul li:hover a {
	cursor: pointer;
}
/*----------------------------1--------------------------------------------------*/
#about_kuang{
	width: 235px;
	height: 258px;
	margin-top: -170px;
	margin-left: 60px;
	position: absolute;
	overflow: hidden;
	background-color:#f7f7f7;
}
#about_di{
	 position:absolute;
	 width:240px;
	 height:6px;
	 top:251px;
	 left:0px;
	 background-color: #eaeaea;
}
#about_kuang img{
     margin-top: auto;
}
#about_rectangle{ 
	 position:absolute;
	 width:180px;
	 height:35px;
	 top:140px;
	 left:0px;
    border-bottom-width:1px;
	 padding-top:15px;
	 padding-left:28px;
	 padding-right:37px;
	 padding-bottom:5px;
	 font-family: "微软雅黑","arial black";
	 color: #9c9b99;
	 border-bottom-color:#e9e9e9;
	 border-bottom-style: solid;
}
#about_rectangle:hover{
	background-color:white;
	color:#15b8e3;
	transition: 0.4s;
}
#about_rectangle:hover a{
	color:#15b8e3;
	transition: 0.4s;
}
#rect_arrow1{
	 position:absolute;
	text-decoration: none;
	font-size:18px;
	padding-left: 30px;
	margin-top:2px;
	font-family: "arial rounded mt bold";
	transition:0.5s;
}
#about_rectangle:hover #rect_arrow1{
	padding-left: 40px;
}
/*----------------------------2--------------------------------------------------*/
#about_rectangle2{ /*盐湖风光rectangle*/
	 position:absolute;
	 width:180px;
	 height:35px;
	 top:195px;
	 left:0px;
    border-bottom-width:1px;
	 padding-top:15px;
	 padding-left:28px;
	 padding-right:37px;
	 padding-bottom:5px;
	 font-family: "微软雅黑","arial black";
	 color: #9c9b99;
	 border-bottom-color:#e9e9e9;
	 border-bottom-style: solid;
}
#about_rectangle2:hover{
	background-color:white;
	color:#15b8e3;
	transition: 0.4s;
}
#about_rectangle2:hover a{
	color:#15b8e3;
	transition: 0.4s;
}
#rect_arrow2{
	 position:absolute;
	text-decoration: none;
	font-size:18px;
	padding-left: 30px;
	margin-top:2px;
	font-family: "arial rounded mt bold";
	transition:0.5s;
}
#about_rectangle2:hover #rect_arrow2{
	padding-left: 40px;
}

/*------------------------------左下方的小框------------------------------------------------------*/
#about_kuang2{
	position: absolute;
	width: 235px;
	height:300px;
	top:255px;
	left:60px;
	background-color:#f7f7f7;
}
#about_di_lan{
	position: absolute;
	width: 235px;
	height:50px;
	background-color: #15b8e3;
}
#about_di_p1{
	font-family: "微软雅黑","arial black";
	font-size:larger ;
    color: white;
    padding-top: 12px;
    padding-left: 25px;
}
#about_di_lan img{
	position: absolute;
    top:6px;
    right:20px;
}
#about_di_gray1{
	position: absolute;
	top:95px;
	height:100px;
    width: 235px;
	border-bottom-color:#eaeaea;
	border-bottom-style: solid;
	border-bottom-width:1px;
}
#about_di_di{
	position: absolute;
	top: 300px;
	width: 235px;
	height:5px;
	background-color:#eaeaea;
}
#about_di_p2{
	color:#60626e;
	font-family:"微软雅黑","arial black";
	font-size:14px;
	padding-left: 30px;
	padding-top:50px;
}
#about_di_p3{
	font-family: "微软雅黑","arial black";
	font-size:25px;
	color:#15b8e3;
	font-weight:bolder;
	padding-left:25px;
	padding-top:10px;
}
#about_di_p4{
	font-family: "微软雅黑","arial black";
	font-size:14px;
	color:#60626e;
	padding-left:75px;
	padding-top:70px;
}
#about_di_kuai{
	position: absolute;
	width:120px;
	height:32px;
	background-color:#15b8e3;
	left:55px;
	margin-top:2px;
}
#about_di_kuai p{
	color: white;
	font-family: "微软雅黑","arial black";
	font-size:14px;
	text-align: center;
	padding-top: 4.5px;
}
/*---------------------------------------------------------------------------------*/
#foot_d{
	position:absolute;
	bottom:0px;
	width: 100%;
	height:30px;
	background-color: #00408f;
}
#foot_two{
	font-size: small;
	position: absolute;
	right:100px;
	top:10px;
	color: white;
	
}
#footleftlogo{
	position: absolute;
	left:200px;
	top: 50px;
}
#footrightlogo{
	position: absolute;
	left:900px;
	top: 60px;
}
#z1{
	position: absolute;
	left:350px;
	top: 60px;
	font-size:15px;
	color: white;
	font-weight: bold;
	
}
#z2{
	position: absolute;
	left:350px;
	top: 100px;
	color: white;
	font-size: small;
	font-family:"黑体";
}
#z3{
	position: absolute;
	left:350px;
	top: 120px;
	color: white;
	font-size: small;
	font-family:"黑体";
}
#z4{
	position: absolute;
	left:350px;
	top: 140px;
	color: white;
	font-size: small;
	font-family:"黑体";
}
#z5{
	position: absolute;
	left:380px;
	top: 170px;
	color: white;
	font-family:"微软雅黑";
	font-size:20px;
}
#z6{
	position: absolute;
	left:350px;
	top: 174px;
}

#foot_one{
	position: absolute;
	color: white;
	width:110px;
	height:20px;
	border-style: solid;
	border-width:thin;
	left:230px;
	top:4px;
}
#foot_a{
	font-size: small;
	white-space: nowrap;
	float:none;
}
#foot_one ul{
	width: 110px;
	height: 35px;
    list-style-type: none;
    background-color: white;
    position: absolute;
    bottom:30px;
    display: none;
     transition:0.5s;
}
#foot_one li{
	width: 110px;	
	background-color: white;	

}
#foot_one a{
	text-decoration: none;
	color: black;
	cursor: pointer;
	list-style-type: none;
	font-size: small;
	display: block;
}
#foot_one a:hover{
	color: #00b3e1;
	background-color: gainsboro;
}
#foot_one:hover ul{
	display: block;
	cursor:pointer;
	 transition:0.5s;
}
